:root {
    --titulos--: #025157;
    --parrafos--: #46484c;
    --promocional--:  #8b8b8bcc;
}

/* Selección con tag */
h1 {
    color: var(--titulos--);
}
body {
    background-color: lightblue;
}

/* Selección con id */
#debajo-titulo {
    color: var(--parrafos--);
}
#promocional {
    color: var(--promocional--);
}


/* Selección con clase */
.paragraph {
    font-style: normal;
}
